.product{
width: 100%;
font-family: Euclid, sans-serif;
position: relative;

&__link{
    display: flex;
    flex-direction: column;
}
    &__main-info{
        margin-bottom: 30px;
        height: 40px;
    }

    &__image{
        width: 100%;
    }

    &__description{
        display: flex;
        justify-content: space-between;
        color: darkslategray;  
        padding: 0 10px;   
    }

    &__icon {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        width: 32px;
        height: 32px;
    }

    &__icon-img{
        position: absolute;
        top: 5px;
        right: 6px;
    }

}

